<!-- FOOTER -->
{%- macro makeColumn(column) -%}
  <h1>{{column.header}}</h1>
  <ul>
  {%- for item in column.items -%}
    {%- for href, text in item -%}
    {%- if href == 'raw' -%}
    <li>{% autoescape false %}{{text}}{% endautoescape %}</li>
    {%- else -%}
    <li><a href="{{href}}">{{text}}</a></li>
    {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
  </ul>
{%- endmacro %}
{%- macro makeLeftmostColumn(column) -%}
<ul>
  {%- for items in column.items -%}
  <li><a class={{items.class}} href="{{items.href}}"></a></li>
  {%- endfor -%}
</ul>
{%- endmacro %}

<div class="lindat-common lindat-footer" data-version="{{VERSION}}" data-build="{{REV}}">
  <div class="lindat-footer-main">
    <div class="lindat-footer-content lindat-container">
      <div class="lindat-footer-left">
        {{makeLeftmostColumn(leftmostColumn)}}
      </div>
      <div class="lindat-footer-text">
        <div class="lindat-footer-text1">
          {{makeColumn(column1)}}
        </div>
        <div class="lindat-footer-text2">
          {{makeColumn(column2)}}
        </div>
        <div class="lindat-footer-text3">
          {{makeColumn(column3)}}
        </div>
      </div>
      <div class="lindat-footer-right">
      </div>
    </div>
  </div>
  <div class="lindat-copyright">
    <p>
      <strong>
        {%- for text in footer -%}
        <span>{{text}}</span>
        {%- if not loop.last -%}<br />{%- endif -%}
        {%- endfor -%}
      </strong>
    </p>
    <p>{{copyright}}</p>
  </div>
  <!-- TRACKING CODE -->
  {% if angular %}
  <ngp-piwik ngp-set-js-url="{{PIWIK_URL}}piwik.js"> </ngp-piwik>
  {% else %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async="async" src="https://www.googletagmanager.com/gtag/js?id={{GA_TRACKING_CODE}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', "{{GA_TRACKING_CODE}}");
  </script>
  <!-- End Piwik Code -->
  {% endif %}
  <!-- End TRACKING CODE -->
</div>
<!-- FOOTER END -->
